body{
  font-family: "XXX", Arial, sans-serif;
  font-size: 1 px;
  line-height: 1 px;
  min-width: 1 px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

a{
  text-decoration: none;
  border: none;
}

a:hover{
  text-decoration: none;
  color: #E5493A;
}

img{
  font-size: 0;
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
}

button:focus{
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
  &::selection{
    background-color: #1c93d5;
    color: #fff;
  }
}
//place holder style
::-webkit-input-placeholder{
  color: #426b95;
}
::-moz-placeholder{
  color: #426b95;
}/* Firefox 19+ */
:-moz-placeholder{
  color: #426b95;
}/* Firefox 18- */
:-ms-input-placeholder{
  color: #426b95;
}
.show{
  display: block !important;
}

input{
  font-family: "x";
  outline: none;
  padding: 0;
  border: none;
  font-weight: normal;
  font-size: 16px;
}

input[type="submit"] {
  border: 1px solid;
  background-color: #FFF;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}
textarea{
  outline: none;
  border: none;
}

button {
  text-align: center;
  cursor: pointer;
}

.refresh-btn {
  float: right;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
}

form {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

table {
  width: 500px;
  margin: 0 auto;
  border: 1px solid;
}

select {
  display: block;
  width: 50%;
  margin-bottom: 10px !important;
}

td,th {
  border:1px solid;
  text-align: center;
}
.col{
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.to-right{
  float: right; 
}

.to-left{
  float: left;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}